<% provide(:title, 'ほーむ')%>
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App | <%= yield(:title)%></title>
  </head>
  <body>
    <h1>StaticPages#ほーむ</h1>
    <p>
    ここはhome pageです。
    <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
    </p>
  </body>
</html>
